MONGO_URL=

MORALIS_KEY=
RPC=
TOKEN_ADDRESS=0xaC996e67b253e633D94D2D067456BFcfd8064caf
COHORT_ADDRESS=0x45E86AB5f68eAc2adc92FAAF145aA859c84c4b95
OPEN_VOTE_ADDRESS=0x890db63438e684F9EFf362D9DE93445A843879d9
CORS_ORIGIN=

# Time in miliseconds
JWT_TOKEN_EXPIRES_IN=
ESSENTIAL_TOKEN_LIFE=

JWT_TOKEN_ISSUER=
JWT_TOKEN_SECRET=